@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@400;500;600;700&family=Exo+2&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Tektur&display=swap');

*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #56ab91;
}
h1{
    background-color: #081b31;
    color: #fff;
    font-family: 'bungee Spice';
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
opacity: 0.6;
}
img {
    height: 165px;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-top: 5rem;
}
.score-board{
    font-family: 'Roboto Mono';
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#computer-score, #user-score{
    font-size: 5rem;
    
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-family: 'Tektur', sans-serif;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}